---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Whoops! Pagina non trovata.">
        <div class="flex flex-1 h-auto w-auto justify-center bg-white">
            <div class="flex flex-col justify-center">
                <div class="flex flex-col justify-center">
                    <div class="raleway self-center text-8xl">404</div>
                    <div class="raleway self-center text-2xl"> Whoops! Sembra che non ci sia nulla qui.</div>
                    <a href="/" class="raleway self-center rounded-2xl bg-blue-400 py-2 px-4 text-white hover:font-semibold hover:underline">Torna alla Home</a>
                </div>
                <img src="/assets/404.gif">
            </div>
        </div>
    </div>
</Layout>
