---
import Layout from "../layouts/Layout.astro";
import ContactForm from "../components/ContactForm"
---

<Layout title="JUG (JVM User Group) - Pisa">
	<main>
		<div class="flex-col sm:flex-row flex justify-center">
			<div class="px-10 mt-10">
				<div class="form bg-white rounded-lg pl-10 pr-10 pb-12 pt-8 drop-shadow-xl">
					<div class="mb-1 flex align-center gap-x-2">
						<div class="self-center">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32" class="main-grid-item-icon" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
								<path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z" />
								<polyline points="22,6 12,13 2,6" />
							</svg>
						</div>
						<span class="raleway text-4xl">Contattaci</span>
					</div>
					<ContactForm client:only/>
				</div>
			</div>
		</div>
	</main>
</Layout>
<style>
	.form {
		width: 35rem;
	}
</style>