---
import Layout from "../layouts/Layout.astro";
import ContactForm from "../components/ContactForm"
---

<Layout title="JUG (JVM User Group) - Pisa">
	<main>
		<div class="flex-col sm:flex-row flex flex-shrink-0 justify-center ">
			<ContactForm client:only redirectURL={"/thank-you"}/>
		</div>
	</main>
</Layout>