---
import Layout from "../layouts/Layout.astro";
import {Content as FAQ} from "../markdown/faq.mdx";
---

<Layout title="JUG (JVM User Group) - Pisa">
	<main>
		<div class="flex-col sm:flex-row flex justify-center">
            <div class="raleway px-20">
                <FAQ />
            </div>
		</div>
	</main>
</Layout>
<style>
</style>