---
import Layout from '../layouts/Layout.astro';
import {getSponsor} from '../services/getSponsor.service'
import HelloJUG from '../components/HelloJUG.astro';
import Sponsor from '../components/Sponsor.jsx';

const sponsors = getSponsor();
---

<Layout title="JUG (JVM User Group) - Pisa">
	<main>
		<div class="flex-col sm:flex-row flex flex-shrink-0 justify-center ">
			<div class="hidden code sm:self-center sm:block">
				<HelloJUG/>
			</div>
			<img class="h-auto w-auto" src="/Logo_C2.svg" alt="JVM User Group Pisa">
		</div>
		{sponsors.length > 0 && 
		<div class="hidden sm:block bg-zinc-300 pb-8 pt-4">
			<div class="text-4xl font-light flex justify-center mb-14 mt-2 raleway">I Nostri Sponsor</div>
			<div class="hidden sm:flex justify-center px-8 ">
				<Sponsor sponsors={sponsors}/>
			</div>
		</div>}
	</main>
</Layout>
<style>
	.code{
		font-family: 'Source Code Pro', monospace;
	}
</style>