---
import Logo from "./Logo.astro";
---

<div class="hidden sm:ml-6 sm:flex items-center">
    <Logo />
    <div class="flex md:space-x-4 sm:space-x-2">
        <a href="/" class="text-gray-800 hover:bg-blue-400 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Home</a>
        <a href="#" class="text-gray-800 hover:bg-blue-400 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Chi Siamo</a>
        <a href="#" class="text-gray-800 hover:bg-blue-400 hover:text-white rounded-md px-3 py-2 text-sm font-medium">FAQ</a>
        <a href="#" class="text-gray-800 hover:bg-blue-400 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Calendario</a>
        <a href="#" class="text-gray-800 hover:bg-blue-400 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Contatti</a>
    </div>      
</div>