<div class="xl:text-2xl lg:text-md">
    <div><span class="text-orange-400">public class</span> Hello <span class="text-pink-800">&#123;</span></div>

        <div class="ml-16"><span class="text-orange-400">public static</span> <span class="text-pink-800">void</span> <span class="text-blue-800">main</span><span class="text-pink-800">(</span>String[] args<span class="text-pink-800">) &#123;</span></div>
            
                <div class="ml-32"><span class="text-blue-800">System.<span class="text-pink-800">out</span>.println</span><span class="text-pink-800">(</span><span class="text-lime-600">"Hello Pisa's Java Users!"</span><span class="text-pink-800">);</span></div>
            
        <div class="ml-16 text-pink-800">&#125;</div>
    <div class="text-pink-800">&#125;</div>
</div>