<div class="sm:hidden" id="mobile-menu">
    <div class="flex md:space-x-4 sm:space-x-2">
        <a href="/" class="text-gray-800 px-3 py-2 text-sm font-medium">
            <div >Home</div>
        </a>
        <a href="/faq" class="text-gray-800 px-3 py-2 text-sm font-medium">
            FAQ
        </a>
        <a href="/eventi" class="text-gray-800 px-3 py-2 text-sm font-medium">
            Calendario
        </a>
        <a href="/archivio" class="text-gray-800 px-3 py-2 text-sm font-medium">
            Archivio
        </a>
        <a href="/contatti" class="text-gray-800 px-3 py-2 text-sm font-medium">
            Contatti
        </a>
    </div>
</div>